<div class="row">
    <div class="col-sm-12" > 
    <div class="card-box">
        
        <!-- <div class="dropdown pull-right">
        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="zmdi zmdi-more-vert"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
        </div> -->
        <h4 class="header-title m-t-0 m-b-30">Products</h4>
        <!-- <div class="container">
        <button class="btn btn-default" style="float: left;"
        type="submit"  (click)="get($event)" >List products </button>
        <button class="btn btn-default" style="float: left;"
        type="submit"  (click)="hide()" >Hide </button>
        </div> -->
        <div *ngIf="pro_len > 0">
        <table class="table table-striped m-0">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
        </tr>
        </thead>
        
          <tbody *ngFor="let produit of produits">
        <tr >
            <th scope="row">{{produit.id}}</th>
            <td>{{produit.name}} </td>
            <td>{{produit.price}} </td>
            <td>{{produit.quantity}}</td>
            <td>{{produit.description}}</td>
            <td>
                <button class="btn" (click)="onDelete(produit)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
        </tbody>
        </table>
    </div>
    <!-- <h4 *ngIf="produits.length==0">No products found</h4> -->
    <div *ngIf="pro_len==0"> No products found !!</div>
    </div>
    </div>
    </div>
  <!-- <p class="text-muted font-13 m-b-15">
        Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.
        </p> -->
  
  
  <!-- <div class="row">
    <div class="col-sm-12">
      <div class="card-box">
  
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="zmdi zmdi-more-vert"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
  
        <h4 class="header-title m-t-0 m-b-30">Striped rows</h4>
  
        <p class="text-muted font-13 m-b-15">
          Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.
        </p>
  
        <table class="table table-striped m-0">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
  
      </div>
    </div>
  </div> -->
  