<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
      <!-- <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="zmdi zmdi-more-vert"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        -->
      <h4 class="header-title m-t-0 m-b-30">Add your product</h4>

      <div class="row">
        <div class="col-lg-12">
          <form
            #produitForm="ngForm"
            class="form-horizontal"
            (ngSubmit)="onSubmit()"
          >
            <div class="form-group">
              <label class="col-md-2 control-label">Name</label>
              <div class="col-md-10">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="produit.name"
                  placeholder="write the name of the product"
                  name="name"
                  minlength="2"
                  #produitName="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': produitForm && produitName.touched
                  }"
                />
                <div
                  [hidden]="!produitForm.errors?.required"
                  class="invalid-feddback"
                >
                  Name is required
                </div>
                <div
                  [hidden]="!produitForm.errors?.minlength"
                  class="invalid-feddback"
                >
                  Must be at least 2 characters
                </div>
              </div>
            </div>

            <!-- <div class="col-md-2 control-label invalid-feedback">Name is required</div> -->
            <div class="form-group">
              <label class="col-md-2 control-label">Price</label>
              <div class="col-md-10">
                <input
                  type="number"
                  step="any"
                  class="form-control"
                  [(ngModel)]="produit.price"
                  placeholder="write the price (DT)"
                  name="price"
                  #produitPrice="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': produitForm && produitPrice.touched
                  }"
                />
                <div
                  [hidden]="!produitForm.errors?.required"
                  class="invalid-feddback"
                >
                  Price is required
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Quantity</label>
              <div class="col-md-10">
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="produit.quantity"
                  placeholder="write quantity"
                  name="quantity"
                  #produitQuantity="ngModel"
                  required
                  [ngClass]="{
                    'is-invalid': produitForm && produitQuantity.touched
                  }"
                />
                <div
                  [hidden]="!produitForm.errors?.required"
                  class="invalid-feddback"
                >
                  Quantity is required
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 control-label">Description</label>
              <div class="col-md-10">
                <textarea
                  class="form-control"
                  rows="5"
                  [(ngModel)]="produit.description"
                  name="description"
                ></textarea>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-default"
              style="float:right"
              [disabled]="!produitForm.form.valid"
              >
              Submit
            </button>
          </form>
        </div>
        <!-- produit.name=='' ||produit.price==0 || produit.quantity==0 -->
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
  </div>
  <!-- end col -->
</div>
